[mysqld_safe]
#pid-file = /var/run/mysqld/mysqld.pid
#socket   = /var/run/mysqld/mysqld.sock
nice   = 0
log_error = /var/log/mysql/error.log

[mysqld_multi]
mysqld     = /usr/bin/mysqld_safe
mysqladmin = /usr/bin/mysqladmin
user = root
password = root
log =/var/log/mysql/mysqld_multi.log

[mysqld1]
user   = mysql
pid-file = /tmp/mysqld.pid1
socket   = /tmp/mysqld.sock1
port   = 3306
basedir    = /usr
datadir    = /var/lib/mysql/d1
tmpdir   = /tmp
lc-messages-dir  = /usr/share/mysql
explicit_defaults_for_timestamp
innodb_data_home_dir = /var/lib/mysql/d1

collation_server=utf8_unicode_ci
character_set_server=utf8

server_id = 3306
log-bin = /var/log/mysql/mysql3306-bin.log
log-error = /var/log/mysql/error.log

[mysqld2]
user   = mysql
pid-file = /tmp/mysqld.pid2
socket   = /tmp/mysqld.sock2
port   = 3308
basedir    = /usr
datadir    = /var/lib/mysql/d2
tmpdir   = /tmp
lc-messages-dir  = /usr/share/mysql
explicit_defaults_for_timestamp
innodb_data_home_dir = /var/lib/mysql/d2

collation_server=utf8_unicode_ci
character_set_server=utf8

server_id = 3308
log-bin = /var/log/mysql/mysql3308-bin.log
log-error = /var/log/mysql/error.log

read-only = 1

#bind-address = 127.0.0.1


sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

symbolic-links=0
